.cta-section {
    margin-bottom: 120px;
}

.cta-wrapper {
    width: 1360px;
    padding: 80px 0;
}

.cta-text-wrapper {
    width: 680px;
    text-align: center;
}

.cta-btn {
    box-shadow: 0px 7px 15px -5px rgba(83, 83, 83, 0.651);
}

.cta-btn img {
    box-shadow: none;
}