.footer-wrapper {
    width: 1360px;
}

.footer-row-1 {
    padding: 120px 0 80px 0;
}

.footer-social-wrapper {
    gap: 10px;
}

.footer-row-2 {
    border-top: 2px solid rgba(255, 255, 255, 0.192);
    text-align: center;
    padding-block: 30px;
}

.footer-h3 {
    font-weight: 400;
}

.footer-social-link img {
    transition: 300ms;
}

.footer-social-link img:hover {
    transform: scale(1.2);
}