/* Note: This wasn't taken from any AI. As a Running Wordpress Developer, I have to work with Theme Development, So I have already mastered all basic of CSS. If you still think I cheated then you can directly Contact me for my earlier Projects. - Jubair Alam **/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #001931;
    --secondary-color: #469165;
    --para-color: #627382;
    --heading-color: #001931;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #001931;
    --light-bg-color: #F7F6F2;
    --icon-color: #F95555;
    --primary-black: #000000;
    --primary-dark: #1E1E1E;
    --brand-bg-color: #469165;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    width: 100%;
}

.w-100 {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.margin-center {
    margin-inline: auto;
}

h1 {
    font-size: 72px;
    line-height: 84px;
}

h2 {
    font-size: 48px;
    color: var(--heading-color);
}

h3 {
    font-size: 24px;
    color: var(--heading-color);
}

p {
    font-size: 16px;
    font-weight: 500;
    color: var(--para-color);
    line-height: 24px;
}

.text-center {
    text-align: center;
}

.section-label {
    font-size: 16;
    color: var(--brand-bg-color);
}

.primary-color {
    color: var(--primary-color);
}

.white-color {
    color: var(--primary-bg-color);
}

.secondary-color {
    color: var(--brand-bg-color);
}

.para-color {
    color: var(--para-color);
}

.dark-color {
    color: var(--primary-dark);
}

.heading-color {
    color: var(--heading-color);
}

.primary-bg-color {
    background-color: var(--primary-bg-color);
}

.secondary-bg-color {
    background-color: var(--secondary-bg-color);
}

.icon-bg-color {
    background-color: var(--icon-color);
}

.light-bg-color {
    background-color: var(--light-bg-color);
}

.primary-black {
    color: var(--primary-black);
}

.primary-dark {
    color: var(--primary-dark);
}

.brand-bg-color {
    background-color: var(--brand-bg-color);
}

.link {
    color: var(--primary-black);
    text-decoration: none;
    transition: 300ms;
}

.link:hover {
    color: var(--brand-bg-color);
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap-24 {
    gap: 24px;
}

.gap-16 {
    gap: 16px;
}

.gap-44 {
    gap: 44px;
}

.primary-btn {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: var(--primary-bg-color);
    padding: 12px 16px;
    font-size: 16px;
    gap: 10px;
    border-radius: 5px;
    transition: 200ms ease-in-out;
}

.primary-btn:hover {
    background-color: transparent;
    color: var(--secondary-color);
    transform: scale(1.05);
}

.secondary-btn {
    background-color: transparent;
    border: 2px solid var(--primary-bg-color);
    color: var(--primary-bg-color);
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 5px;
    gap: 10px;
    transition: 200ms ease-in-out;
}

.secondary-btn:hover {
    background-color: var(--brand-bg-color);
    color: var(--primary-bg-color);
    border: 2px solid var(--brand-bg-color);
    transform: scale(1.05);
}