.solution-section {
    padding-block: 120px;
}

.solution-section-wrapper {
    width: 1360px;
    gap: 60px;
}

.solution-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.solution-text-box .row-1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.solution-section .row-2 {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 16px;
}

.solution-section .row-2 li {
    align-items: center;
    gap: 8px;
}

.solution-section .row-2 li img {
    height: 20px;
}